<div class="main">
    <div class="container main" role="head-image">
        <div class="row ">
            <div class="col-md-12 page-head-image">
                <h1>About this project</h1>

            </div>
        </div>
    </div>
</div>
<div class="section-dark">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h3>Purpose</h3>
                <p>
                    I started this project to teach myself about new technologies and to learn new programing languages.
                    Look at this blog as my <b>personal playground</b>, but you might also be able to find some useful <b>tutorials</b>
                    and <b>tips</b>. Did I mention that as this is sandbox project for me, I am also sharing the code of this website with you:
                    <br/>
                    <a href="https://github.com/colonelx/benchparty-cms" target="_blank"><span class="glyphicon glyphicon-check"></span> The CMS source code</a>
					<br/>
					<a href="https://github.com/colonelx/benchparty-fe" target="_blank"><span class="glyphicon glyphicon-check"></span> The front-end source code</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Audience</h3>
                <p>
                    The blog content is mainly intended for <b>software developers</b>, but as I am
                    currently situated in <b>Malta</b>, you might as well find some first-hand information for various places,
                    events, history and tips related to the island. Official blog language will be English.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Who am I?</h3>
                <p>
                    My name is Viktor Panteleev. I have 10+ years of professional experience with software development (mainly in the web field).
                    I was born in Dimitrovgrad, Bulgaria, but am currently residing in Malta. I'm an open-source enthusiast, and like to
                    apply the open-source philosophy in every area.
                </p>
                <p>
                    <b>My interests include:</b>
                    <ul>
                        <li>Web development</li>
                        <li>Embedded systems and devices</li>
                        <li>Board games</li>
                        <li>HAM Radio</li>
                        <li>F1</li>
                        <li>Beer</li>
                    </ul>
                </p>
                <p class="text-center">
                    <a href="http://vpanteleev.com" class="btn btn-primary" target="_blank">
                    <span class="glyphicon glyphicon-link"></span> My CV web page
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Get in touch</h3>
                <p>
                    <ul>
                        <li><a href="https://twitter.com/vpanteleev" target="_blank">Twitter: @vpanteleev</a></li>
                        <li><a href="https://www.facebook.com/colonelx" target="_blank">Facebook: Viktor Panteleev</a></li>
                        <li><a href="mailto:viktor@benchparty.com">Mail: viktor@benchparty.com</a></li>
                    </ul>
                </p>
                <p class="text-center">
                    <a href="/contact" class="btn btn-primary">
                    <span class="glyphicon glyphicon-link"></span> Check out the contacts page
                    </a>
                </p>
            </div>
        </div>

    </div>
</div>